.DS_Store
.stylelintrc.json
CNAME
package-lock.json

# dependencies
node_modules/

# all stuff
menu/

# side menu
facebook_Matsedill/

# other files
olsen_wolt.org
olsen_wolt.md
olsen_wolt.tex
olsen_wolt.pdf
