.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-header-title;

  &__title {
    text-decoration: none;
    text-transform: uppercase;

    &.company {
      font-size: 3.5rem;
      color: red;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-shadow: -5.5px -2.75px lightpink;
      transform: rotate(-5deg);

      .flicker-slow {
        animation: flicker 10s linear infinite;
      }

      .flicker-fast {
        animation: flicker 5s linear infinite;
        font-size: 2.5rem;
        transform: translate(40%, -25%) rotate(0deg);
      }
    }
  }

  &__right .rightsection {
    display: flex;
    flex-direction: row;

    &--items {
      padding-right: 1.5rem;
      list-style-type: none;
      text-transform: uppercase;
    }

    &--title {
      font-size: 1.5rem;
      text-decoration: none;
      color: gray;
    }
  }
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
  }

  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}
