.title {
  font-family: $font-main-title;

  &.menusection {
    font-size: 4rem;

    &.batar {
      display: flex;
      justify-content: center;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  &_items_list {
    // border-style: solid;
    flex-direction: row;
  }

  &_items {
    margin: 10px 10px 10px 10px;

    &.batar {
      margin: 0;
      display: flex;
      flex-direction: row;

      &_left .lysing {
        font-size: 1rem;
      }
    }
  }

  // Taka út comment fyrir neðsta partur líka
  // .tilkyningu_texti {
  //   font-size: 1.5em;
  //   text-align: center;
  //   -webkit-animation: rainbow 5s infinite;
  //   -ms-animation: rainbow 5s infinite;
  //   animation: rainbow 8s infinite;
  // }

  .olsen_image {
    width: 100%;
    padding: 20px 0 20px 0;
    border-radius: 125px;
  }

  .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0 5px 0;

    &_image {
      width: 2.5rem;
      height: 2.5rem;
      padding: 0 5px 0 5px;
    }
  }
}

.menu {
  // &_image {
  //   height: 200px;
  // }

  &_image .imageList {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // width: 100rem;
    // height: 100rem;
    // object-fit: cover;
    // height: 500px;

   img {
      width: 100%;
      padding: 20px 0 20px 0;
      border-radius: 125px;
    }
  }

  &_image .buttonList {
    display: flex;
    justify-content: center;

    .buttons {
      background-color: red;
      padding: 0.65rem;
      border-radius: 50%;
    }
  }

  &_list {
    // border-style: solid;
    justify-content: space-around;

    /* flex-wrap: wrap; */
    margin: 10px 10px 10px 10px;
    width: 45%;

    &.batar {
      width: 100%;
    }
  }
}

.nafn {
  font-weight: bold;
  font-size: 1.5rem;
}

.verd {
  font-size: 1rem;
  font-style: italic;

  &_litill {
    font-size: 1rem;
    margin-right: 10px;
    font-style: italic;
  }

  &_stor {
    font-size: 1rem;
    font-style: italic;
  }

  &_storoglitill {
    display: flex;
  }
}

.footer {
  max-width: 100%;

  &_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px 20px 40px 20px;
  }
}

.story {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &_image {
    width: 100%;
    padding: 20px 0 20px 0;
    border-radius: 125px;
    // z-index: 1;
  }
}

.starline {
  display: flex;

  .star {
    width: 50%;
    height: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Tilkynninga_texti */

/* Chrome, Safari, Opera */

// @-webkit-keyframes rainbow {
//   0% {
//     color: orange;
//   }

//   10% {
//     color: purple;
//   }

//   20% {
//     color: red;
//   }

//   30% {
//     color: cadetblue;
//   }

//   // 40% {color: yellow;}

//   50% {
//     color: coral;
//   }

//   60% {
//     color: green;
//   }

//   // 70% {color: cyan;}

//   80% {
//     color: deeppink;
//   }

//   90% {
//     color: dodgerblue;
//   }

//   100% {
//     color: orange;
//   }
// }

// /* Internet Explorer */
// @-ms-keyframes rainbow{
//    0%{color: orange;}
//   10%{color: purple;}
//   20%{color: red;}
//   30%{color: cadetblue;}
//   // 40%{color: yellow;}
//   50%{color: coral;}
//   60%{color: green;}
//   // 70%{color: cyan;}
//   80%{color: deeppink;}
//   90%{color: dodgerblue;}
//   100%{color: orange;}
// }

// /* Standar Syntax */
// @keyframes rainbow{
//     0%{color: orange;}
//   10%{color: purple;}
//   20%{color: red;}
//   30%{color: cadetblue;}
//   // 40%{color: yellow;}
//   50%{color: coral;}
//   60%{color: green;}
//   // 70%{color: cyan;}
//   80%{color: deeppink;}
//   90%{color: dodgerblue;}
//   100%{color: orange;}
// }
