@charset "utf-8";
$font-main: 'Crimson Text', serif;
$font-header-title: 'Lora', serif;
$font-header-neon: 'Monoton', cursive;
$font-main-title: "Allura", cursive;
$max-width: 1000px;

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  display: block;
  font-family: $font-main;
  font-size: 16px;
  width: $max-width;
  padding: 30px 30px 0 30px;
  margin: 0 auto;
  background-color: #faebd7;
}

@import "header.scss";
@import "main.scss";
@import "footer.scss";
